@import 'reset.css';

body#about_sample {
    padding-top: 157px;
    background-image: url("eunkyung.png");
}

body#about_sample .description {
    padding-top: 10px;
    width: 960px;
}
body#about_sample .description .summary {
    width: 70%;
    float: left;
    font-weight: 200;
    font-size: 12px;
}

body#about_sample .description .text {
    width: 100%;
    float: right;
    font-weight: 200;
}

body#about_sample .description dl dt {
    color: #636363;
    float: left;
    width: 30%;
    padding-bottom: 30px;
}

body#about_sample .description dl dd {
    color: #636363;
    float: right;
    line-height: 1.8;
    width: 70%
    font-size: 24px;
}