@import 'reset.css';


body#about {
    padding-top: 0px;

}

body#about .background {
    background: src(public.images.eunkyung.png) center center;
    width: 100%;
}

.about {
    padding-top: 157px;
    width: 50%;
    float: left;
    font-weight: 200;
    color: #636363;
    line-height: 1.8;
    font-size: 14px;
}

