@import 'reset_new.css';


body#project {
  padding-top: 157px;
}

body#project .description {
  padding-top: 10px;
}
body#project .description .summary {
  width: 50%;
  float: left;
  font-weight: 200;
  font-size: 12px;
}

body#project .description .text {
  width: 50%;
  float: right;
  font-weight: 200;
}

body#project .description ul li {
  color: #B4B4B4;
  padding-bottom: 25px;
}

body#project .description ul li strong {
  color: #6B6C6E;
}

body#project .description dl dt {
  color: #636363;
  padding-bottom: 30px;
}

body#project .description dl dd {
  color: #636363;
  line-height: 1.8;
  font-size: 14px;
}


body#project .description dl dd a {
  color: #1573dd;
  line-height: 3;
  font-size: 16px;
}

body#project .gallery {
  margin-top: 50px;
  margin-bottom: 100px;
}

body#project .gallery img {
  width: 100%;
  margin-bottom: 14px;
}

body#project .gallery iframe {
  display: block;
  margin: 0 auto;
  padding: 200px;
}

body#project .container_2 .paragraph {
  float: center;
  margin-left: auto;
  margin-right: auto;
  max-width: 1108px;
  margin-top: 50px;
  margin-bottom: 100px;
}

body#project .gallery h1 {
  color: #000000;
  text-align: center;
  font-weight: 500;
  line-height: 1.5;
  font-size: 43px;
  margin-top: 150px;
  margin-bottom: 50px;
  max-width: 760px;
  margin-left: auto;
  margin-right: auto;
}

body#project .paragraph h2 {
  color: #000000;
  text-align: left;
  font-weight: 500;
  line-height: 1.5;
  font-size: 34px;
  max-width: 760px;
  margin-top: 150px;
  margin-bottom: 30px;
  margin-left: auto;
  margin-right: auto;
}

body#project .paragraph h3 {
  color: #000000;
  text-align: left;
  font-weight: 500;
  line-height: 1.5;
  font-size: 24px;
  max-width: 760px;
  margin-top: 50px;
  margin-bottom: 10px;
  margin-left: auto;
  margin-right: auto;
}

body#project .paragraph h4 {
  color: #000000;
  text-align: center;
  font-weight: 500;
  line-height: 1.5;
  font-size: 34px;
  max-width: 760px;
  margin-top: 200px;
  margin-bottom: 100px;
  margin-left: auto;
  margin-right: auto;
}

body#project .Prototyping h5 {
  color: #FFFFFF;
  text-align: center;
  font-weight: 500;
  line-height: 1.5;
  font-size: 34px;
  margin-bottom: 100px;
  margin-left: auto;
  margin-right: auto;
}

body#project .paragraph p {
  color: #000000;
  text-align: left;
  margin-left: auto;
  margin-right: auto;
  font-weight: 300;
  line-height: 1.7;
  font-size: 20px;
  max-width: 760px;
}

body#project .paragraph p2 {
  color: #000000;
  text-align: left;
  margin-left: auto;
  margin-right: auto;
  font-weight: 300;
  line-height: 1.7;
  font-size: 20px;
}

body#project .Prototyping {
  background-color: #333E48;
  padding-top: 120px;
  padding-bottom: 90px;
  margin-top: 140px;
  margin-left: auto;
  margin-right: auto;
}

body#project .paragraph .Prototyping .caption {
  color: #B4B4B4;
  text-align: center;
  font-weight: 200;
  font-size: 14px;
}

.divider {
  width: 100%;
  height: 236px;
  background-color: #414247;
  margin-top: 100px;
  margin-top: 100px;
}

.divider-2 {
  width: 100%;
  height: 162px;
  background-color: #FF605E;
  text-align: center;
  margin-top: 100px;

}
