@import 'reset.css';


body#project {
  padding-top: 157px;
}

body#project .description .summary {
  width: 50%;
  float: left;
  font-weight: 200;
  font-size: 12px;
}

body#project .description .text {
  width: 50%;
  float: right;
  font-weight: 200;
}

body#project .description ul li {
  color: #B4B4B4;
  padding-bottom: 15px;
}

body#project .description ul li strong {
  color: #6B6C6E;
}

body#project .description dl dt {
  color: #636363;
  padding-bottom: 15px;
}

body#project .description dl dd {
  color: #636363;
  line-height: 1.8;
  font-size: 14px;
}

body#project .gallery {
  margin-top: 50px;
}

body#project .gallery img {
  width: 100%;
  margin-bottom: 14px;
}

body#project .gallery iframe {
  display: block;
  margin: 0 auto;
  padding: 200px;
}